body {
  background: green;
}

.card {
  text-align: center;
  background: white;
  display: block;
  margin: auto;
  height: 300px;
  width: 250px;
  padding: 20px;
  padding-top: 180px;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
  font-size: 80px;
}

.card:before {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
  content: '';
}

.card:after {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
  content: '';
}

.card.spade:before,
.card.spade:after {
  content: '\2660';
  color:black

}

.card.club:before,
.card.club:after {
  content: '\2663';
  color:black
}

.card.heart:before,
.card.heart:after {
  content: '\2665';
  color: red;
}

.card.diamond:before,
.card.diamond:after {
  content: '\2666';
  color: red;
}
